* {
  /*Reset da página completa, retirando todas as configurações padrões do navegador*/
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Isso faz com que o tamanho da caixa seja medido pela borda, assim conseguimos tamanho de caixa com padding (preenchimento interno)*/
}
/*Light mode, esse root permite criar variaveis e  usar essas propriedades em qualquer lugar da página*/
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.02);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.05);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.01);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  /*
  background-image: url(./assets/bg-mobile.jpg); /*Adiciona a imagem de fundo na página*/
  /*background-repeat: no-repeat; /* Faz a imagem aparecer somente uma vez na tela*/
  /*background-position: top center; /*Centraliza a imagem e deixa no topo da página*/
  /*background-size: cover; /*Faz a imagem pegar toda a página, nesse caso o body inteiro*/

  background: var(--bg-url) no-repeat top center/cover; /*Criamos uma propriedade para juntas todas as configurações acima*/
  height: 100vh; /*Faz com que o pegue a página inteira de altura*/
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
#container {
  padding: 0px 24px;
  width: 100%; /*largura que pegamos no figma, depois alterado para 100%*/
  max-width: 588px; /*Adicionado para pode se ajustar os diversos dispositivos*/
  margin: 56px auto 0px; /*aplica uma margem igual no esquerda e direita iguais*/
}

#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 112px;
  margin: auto;
}

#profile p {
  font-weight: 500; /*Grossura da linha da letra "negrito*/
  font-size: 16px; /* Padrão dos navegadores 16px*/
  line-height: 24px; /*Altura da linha*/
  margin-top: 8px;
}

/*swith*/

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-out 0.2s;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}
.light #switch button {
  /*right: 00;
  left: initial;*/
  animation: slide-in 0.2s forwards; /*Executa a animação e o forwards deixa ela no final*/
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}

ul {
  list-style: none; /*retira os pontinhos da frente da lista*/
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0px;
}
ul li a {
  border: 1px solid var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px; /*Arredodamento das bordas*/
  backdrop-filter: blur(4px); /*Embaçar o componente*/
  text-decoration: none; /*retira a linha abixo da palavra*/
  font-weight: 500;
  transition: background 0.2s;
}

/*pseudo-seletor é o que acontece quando é passado o mouse em cima do icone*/

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid white;
}

#social-links {
  display: flex;
  padding: 24px 0px;
  font-size: 40px;
  justify-content: center;
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}
#social-links a:hover {
  background: var(--highlight-color);
}
footer {
  padding: 24px;
  text-align: center;
}
/*Media queries*/
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}
/*Animações*/
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 32px;
  }
}

@keyframes slide-out {
  from {
    left: 32px;
  }
  to {
    left: 0px;
  }
}
